.player-container {
    width: 800px;
    height: 550px;
    background-color: black;
    position: relative;
    outline: 0;

    .video {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .controls-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        bottom: 5px;
        padding: 0 10px;
        position: absolute;
        opacity: 0;
        transition: 1.5s all;

        .state-button {
            width: 30px;
            height: 30px;
            cursor: pointer;

            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(67deg) brightness(104%) contrast(100%);

            &-pause {
                background-image: url('../../assets/play_circle.svg');
            }

            &-play {
                background-image: url('../../assets/pause_circle.svg');
            }
        }

        .video-time {
          display: flex;
          height: 30px;
        }

        .timeline-bar {
          width: 100%;
          height: 8px;

          background-color: grey;
          opacity: 0.7;
          border-radius: 4px;

          cursor: pointer;

          transition: all 0.5s ease;

          .fill-bar{
            height: 100%;
            width: 0%;

            background-color: white;
            opacity: 0.8;
            border-radius: 4px;

            cursor: pointer;
          }
        }

        .timeline-bar:hover {
          transform: scaleY(2);
          opacity: 1;

          .fill-bar {
            opacity: 1;
          }
        }

        .lower-controls-container {
          display: flex;
          align-items: center;
          column-gap: 10px;
        }

        .volume-controls {
          display: flex;
          gap: 5px;
          align-items: center;

          &:hover .volume-slider {
            display: block;
          }

          .volume-button {
            width: 24px;
            height: 24px;
            cursor: pointer;
  
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(67deg) brightness(104%) contrast(100%);
            background-image: url('../../assets/volume_up.svg');
          }
  
          .muted {
            background-image: url('../../assets/volume_off.svg');
          }
  
          .volume-slider {
            background: linear-gradient(to right, #000 0%, #000 100%, #FFF 100%, #FFF 100%);
            border: solid 1px #FFF;
            border-radius: 8px;
            display: none;
            height: 7px;
            width: 100px;
            outline: none;
            transition: background 450ms ease-in;
            -webkit-appearance: none;
          }

          
          .volume-slider::-webkit-slider-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            -webkit-appearance: none;
            cursor: ew-resize;
            background: #434343;
          }
        }

        .fullscreen-button {
          width: 24px;
          height: 24px;
          cursor: pointer;

          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(67deg) brightness(104%) contrast(100%);
          background-image: url('../../assets/fullscreen.svg');
        }

        .fullscreen-exit {
          background-image: url('../../assets/fullscreen_exit.svg');
        }
    }

  &:hover {
    .controls-container {
      opacity: 1;
      transition: 0.7s all;
    }
  }
}